
<mat-toolbar class="toolbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </button>
    <span>MERA</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <a href="/products">Product</a>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <a href="/cart">Card</a>
    </button>
  </mat-toolbar>

  <div class="container">

    
    <h1 class="title">VIP</h1>
    <h3 class="subtitle">Royal Honey Explote of Emotion</h3>
    
  </div>

  <router-outlet></router-outlet>