
<mat-toolbar class="toolbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    </button>
    <span>Logi</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <a mat-button routerLink="/products">Product</a>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <a href="/cart">Card</a>
    </button>
  </mat-toolbar>

  <div class="container">



    <h1 class="title">LogiMercado</h1>
    <h3 class="subtitle">lOGITISCA QUE MUEVE EL MERCADO</h3>
    
  </div>

  <router-outlet></router-outlet>